In [1]:
n1 = 123456 # single variable assignment 

n2 = n3 = n4 = n1 #multi variable assignment of the same value

a , b , c = 123 ,143 ,345  # multi variable assignment with different values 

print(a, b, c)

123 143 345

In [19]:
n1%11

n3 = n2 ** 123

type(n3)
len(str(n3))

atoms = 10 ** 83
len(str(atoms))
type(str(atoms))

122321 ** 9

6130687873308026945890176790042303730066739281

## conditionals

In [30]:
if atoms < 10 ** 96:
    print("true")
else:
    print("false")

true

In [34]:
#check if a number is even 

n=12
if n % 2 == 0:
    print("even")
else:
    print("odd")

even

In [37]:
#find the greatest of 3 numbers
n1 = input("enter the first number")

n2 = input("enter the second number")
n3 = input("enter the third number ")

if n1>n2 and n1>n3:
    print(n1,"is the greatest")
elif n2>n3:
    print(n2,"is the greatest")
else:
    print(n3,"is the greatest")

enter the first number-1
enter the second number-100
enter the third number -50
-50 is the greatest

In [41]:
# check if the number is a leap year or not
n1 = int(input("enter any year"))

if(n1%4==0 and n1!=100) or n1%400==0:
    print(n1,"is a leap year")

enter any year2004
2004 is a leap year

In [54]:
#calculate the number of digits in a number

n=int(input("a number"))

len(str(n))

a number123456

6

In [48]:
#check if a number is multiple of 10

n=int(input("enter a number"))

if n%10==0:
    print(n,"is a factor of 10")
else:
    print(n,"is not a factor of 10")

enter a number55
55 is not a factor of 10

In [50]:
#check if the number is a factor of 1000

n=int(input("enter a numer"))

if n%1000==0:
    print(n,"is a factor of 1000")
else:
    print(n,"is not a factor of 1000")

enter a numer45555
45555 is not a factor of 1000

In [64]:
#check if given string is equal to a number 
n=input("enter the string")
num=int(input("enter a number"))

if num==str:
    print(n,"true")
else:
    print(n,"false")

enter the stringabc
enter a number3
abc false

In [65]:
# calulate the square root of a given number without functions
n=120
n**0.5

10.954451150103322

In [70]:
#calculate the number of nano micro seconds in a  
#given year(considering leap year logic
print(366*24*60*60*(10**9))

31622400000000000

### data types & type conversions
 - int 
 - float 
 - string